{"openapi":"3.0.3","info":{"title":"Samsara API","description":"# Introduction\n\nSamsara provides API endpoints for interacting with Samsara Cloud, so that you can build powerful applications and custom solutions with sensor data. Samsara has endpoints available to track and analyze sensors, vehicles, and entire fleets.\n\nThe Samsara Cloud API is a [RESTful API](https://en.wikipedia.org/wiki/Representational_state_transfer) accessed by an [HTTP](https://en.wikipedia.org/wiki/Hypertext_Transfer_Protocol) client such as wget or curl, or HTTP libraries of most modern programming languages including python, ruby, java. We use built-in HTTP features, like HTTP authentication and HTTP verbs, which are understood by off-the-shelf HTTP clients. We allow you to interact securely with our API from a client-side web application (though you should never expose your secret API key). [JSON](http://www.json.org/) is returned by all API responses, including errors. If you’re familiar with what you can build with a REST API, the following API reference guide will be your go-to resource.\n\nAPI access to the Samsara cloud is available to all Samsara administrators. To start developing with Samsara APIs you will need to [obtain your API keys](#section/Authentication) to authenticate your API requests.\n\nIf you have any questions you can reach out to us at https://samsara.com/help\n\n# Endpoints\n\nAll our APIs can be accessed through HTTP requests to URLs like:\n\n```curl\nhttps://api.samsara.com/\\u003cversion\\u003e/\\u003cendpoint\\u003e\n```\n\nAll our APIs are [versioned](#section/Versioning). If we intend to make breaking changes to an API which either changes the response format or request parameter, we will increment the version.\n\n# Authentication\n\nTo authenticate your API request you will need to include your secret token. You can manage your API tokens in the [Dashboard](https://cloud.samsara.com). They are visible under `Settings-\\u003eOrganization-\\u003eAPI Tokens`.\n\nYour API tokens carry many privileges, so be sure to keep them secure. Do not share your secret API tokens in publicly accessible areas such as GitHub, client-side code, and so on.\n\nAuthentication to the API is performed via [HTTP Basic Auth](https://en.wikipedia.org/wiki/Basic_access_authentication). Provide your API token as the basic access_token value in the URL. You do not need to provide a password.\n\n```curl\nhttps://api.samsara.com/\\u003cversion\\u003e/\\u003cendpoint\\u003e?access_token={access_token}\n```\n\nAll API requests must be made over [HTTPS](https://en.wikipedia.org/wiki/HTTPS). Calls made over plain HTTP or without authentication will fail.\n\n# Request Methods\n\nOur API endpoints use [HTTP request methods](https://en.wikipedia.org/wiki/Hypertext_Transfer_Protocol#Request_methods) to specify the desired operation to be performed. The documentation below specified request method supported by each endpoint and the resulting action.\n\n## GET\n\nGET requests are typically used for fetching data (like data for a particular driver).\n\n## POST\n\nPOST requests are typically used for creating or updating a record (like adding new tags to the system). With that being said, a few of our POST requests can be used for fetching data (like current location data of your fleet).\n\n## PUT\n\nPUT requests are typically used for updating an existing record (like updating all devices associated with a particular tag).\n\n## PATCH\n\nPATCH requests are typically used for modifying an existing record (like modifying a few devices associated with a particular tag).\n\n## DELETE\n\nDELETE requests are used for deleting a record (like deleting a tag from the system).\n\n# Response Codes\n\nAll API requests will respond with appropriate [HTTP status code](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes). Your API client should handle each response class differently.\n\n## 2XX\n\nThese are successful responses and indicate that the API request returned the expected response.\n\n## 4XX\n\nThese indicate that there was a problem with the request like a missing parameter or invalid values. Check the response for specific [error details](#section/Error-Responses). Requests that respond with a 4XX status code, should be modified before retrying.\n\n## 5XX\n\nThese indicate server errors when the server is unreachable or is misconfigured. In this case, you should retry the API request after some delay.\n\n# Error Responses\n\nIn case of a 4XX status code, the body of the response will contain information to briefly explain the error reported. To help debugging the error, you can refer to the following table for understanding the error message.\n\n| Status Code | Message | Description |\n|-------------|----------------|-------------------------------------------------------------------|\n| 401 | Invalid token | The API token is invalid and could not be authenticated. Please refer to the [authentication section](#section/Authentication). |\n| 404 | Page not found | The API endpoint being accessed is invalid. |\n| 400 | Bad request | Default response for an invalid request. Please check the request to make sure it follows the format specified in the documentation. |\n\n# Versioning\n\nAll our APIs are versioned. Our current API version is `v1` and we are continuously working on improving it further and provide additional endpoints. If we intend to make breaking changes to an API which either changes the response format or request parameter, we will increment the version. Thus, you can use our current API version worry free.\n\n# FAQs\n\nCheck out our [responses to FAQs here](https://kb.samsara.com/hc/en-us/sections/360000538054-APIs). Don’t see an answer to your question? Reach out to us at https://samsara.com/help.\n","version":"2018.01.01"},"servers":[{"url":"https://api.samsara.com"},{"url":"https://api.eu.samsara.com"},{"url":"http://localhost:8008"}],"paths":{"/beta/fleet/document-types":{"get":{"tags":["Documents"],"summary":"[beta] Fetch document types","description":"Returns a list of the organization document types.","operationId":"DocumentTypes#getDocumentTypes","parameters":[{"name":"after","in":"query","description":" If specified, this should be the endCursor value from the previous page of results. When present, this request will return the next page of results that occur immediately after the previous page of results.","allowEmptyValue":true,"schema":{"type":"string","description":" If specified, this should be the endCursor value from the previous page of results. When present, this request will return the next page of results that occur immediately after the previous page of results.","example":"c857e70c-dddd-4230-97f1-01f59e86dbf8"},"example":"c857e70c-dddd-4230-97f1-01f59e86dbf8"},{"name":"limit","in":"query","description":"Private limit for testing; to pass along as the graphql 'connection' (e.g. 'driversConnection' or 'devicesConnection') limit.","allowEmptyValue":true,"schema":{"type":"integer","description":"Private limit for testing; to pass along as the graphql 'connection' (e.g. 'driversConnection' or 'devicesConnection') limit.","example":50,"format":"int64"},"example":50}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetDocumentTypesResponseObject"},"example":{"data":[{"id":"4aff772c-a7bb-45e6-8e41-6a53e34feb83","name":"Accident Report","orgId":12345,"fieldTypes":[{"label":"Was there damage?","requiredField":true,"fieldType":"multipleChoice","multipleChoiceFieldTypeMetaData":[{"label":"Yes"},{"label":"No"}]},{"label":"Damage Photos","requiredField":false,"fieldType":"photo"},{"label":"Number of vehicles impacted","requiredField":false,"fieldType":"number","numberFieldTypeMetaData":{"numberOfDecimalPlaces":2}},{"label":"Date and time","requiredField":true,"fieldType":"dateTime"},{"label":"Sign","requiredField":true,"fieldType":"signature","signatureFieldTypeMetaData":{"legalText":"Legal Text"}}],"conditionalFieldSections":[{"triggeringFieldIndex":0,"triggeringFieldValue":"Yes","conditionalFieldFirstIndex":1,"conditionalFieldLastIndex":2}]}],"pagination":{"endCursor":"MjkY","hasNextPage":true}}}}},"400":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"Invalid value for parameter.","requestId":"8916e1c1"}}}},"401":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"Invalid token.","requestId":"8916e1c1"}}}},"404":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"Object not found.","requestId":"8916e1c1"}}}},"405":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"DELETE not allowed on /endpoint.","requestId":"8916e1c1"}}}},"429":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"Exceeded rate limit.","requestId":"8916e1c1"}}}},"500":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"Failed to execute GraphQL query.","requestId":"8916e1c1"}}}},"501":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"Not implemented.","requestId":"8916e1c1"}}}},"502":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"rpc error: code = Unknown desc = connection refused","requestId":"8916e1c1"}}}},"503":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"context deadline exceeded","requestId":"8916e1c1"}}}},"504":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"context deadline exceeded","requestId":"8916e1c1"}}}}}}},"/beta/fleet/documents":{"get":{"tags":["Documents"],"summary":"[beta] Fetch all documents","description":"Get all documents for the given time range.","operationId":"Documents#getDocuments","parameters":[{"name":"startTime","in":"query","description":" A start time in RFC 3339 format. Defaults to now if not provided. Millisecond precision and timezones are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z, OR 2015-09-15T14:00:12-04:00).","allowEmptyValue":true,"required":true,"schema":{"type":"string","description":" A start time in RFC 3339 format. Defaults to now if not provided. Millisecond precision and timezones are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z, OR 2015-09-15T14:00:12-04:00).","example":"2019-06-13T19:08:25Z"},"example":"2019-06-13T19:08:25Z"},{"name":"endTime","in":"query","description":" An end time in RFC 3339 format. Defaults to now if not provided. Millisecond precision and timezones are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z, OR 2015-09-15T14:00:12-04:00).","allowEmptyValue":true,"required":true,"schema":{"type":"string","description":" An end time in RFC 3339 format. Defaults to now if not provided. Millisecond precision and timezones are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z, OR 2015-09-15T14:00:12-04:00).","example":"2019-06-13T19:08:25Z"},"example":"2019-06-13T19:08:25Z"},{"name":"limit","in":"query","description":"Private limit for testing; to pass along as the graphql 'connection' (e.g. 'driversConnection' or 'devicesConnection') limit.","allowEmptyValue":true,"schema":{"type":"integer","description":"Private limit for testing; to pass along as the graphql 'connection' (e.g. 'driversConnection' or 'devicesConnection') limit.","example":50,"format":"int64"},"example":50},{"name":"after","in":"query","description":" If specified, this should be the endCursor value from the previous page of results. When present, this request will return the next page of results that occur immediately after the previous page of results.","allowEmptyValue":true,"schema":{"type":"string","description":" If specified, this should be the endCursor value from the previous page of results. When present, this request will return the next page of results that occur immediately after the previous page of results.","example":"c857e70c-dddd-4230-97f1-01f59e86dbf8"},"example":"c857e70c-dddd-4230-97f1-01f59e86dbf8"},{"name":"documentTypeId","in":"query","description":"ID of the document template type.","allowEmptyValue":true,"schema":{"type":"string","description":"ID of the document template type.","example":"b02859d0-532e-4cf5-930d-e98383200877"},"example":"b02859d0-532e-4cf5-930d-e98383200877"},{"name":"queryBy","in":"query","description":"Query by document creation time (`created`) or updated time (`updated`). Defaults to `created`.","allowEmptyValue":true,"schema":{"type":"string","description":"Query by document creation time (`created`) or updated time (`updated`). Defaults to `created`.","example":"updated"},"example":"updated"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetDocumentsResponseObject"},"example":{"data":[{"conditionalFieldSections":[{"conditionalFieldFirstIndex":6938962353426761953,"conditionalFieldLastIndex":4390182947667394595,"triggeringFieldIndex":1685137297280875031,"triggeringFieldValue":"Accusamus asperiores corporis doloribus reprehenderit sit velit."},{"conditionalFieldFirstIndex":6938962353426761953,"conditionalFieldLastIndex":4390182947667394595,"triggeringFieldIndex":1685137297280875031,"triggeringFieldValue":"Accusamus asperiores corporis doloribus reprehenderit sit velit."},{"conditionalFieldFirstIndex":6938962353426761953,"conditionalFieldLastIndex":4390182947667394595,"triggeringFieldIndex":1685137297280875031,"triggeringFieldValue":"Accusamus asperiores corporis doloribus reprehenderit sit velit."}],"createdAtTime":"2005-07-09T02:19:49Z","documentType":{"id":"9814a1fa-f0c6-408b-bf85-51dc3bc71ac7","name":"Fleet Truck List"},"driver":{"externalIds":{"maintenanceId":"250020","payrollId":"ABFS18600"},"id":"45646","name":"Driver Bob"},"fields":[{"label":"Load weight","type":"number","value":{"barcodeValue":[{"barcodeType":"org.gs1.EAN-13","barcodeValue":"0853883003114"},{"barcodeType":"org.gs1.EAN-13","barcodeValue":"0853883003114"},{"barcodeType":"org.gs1.EAN-13","barcodeValue":"0853883003114"},{"barcodeType":"org.gs1.EAN-13","barcodeValue":"0853883003114"}],"dateTimeValue":{"dateTime":"1988-11-10T02:42:05Z"},"multipleChoiceValue":[{"selected":false,"value":"Yes"},{"selected":false,"value":"Yes"},{"selected":false,"value":"Yes"}],"numberValue":123.456,"photoValue":[{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"}],"scannedDocumentValue":[{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"}],"signatureValue":{"id":"9814a1fa-f0c6-408b-bf85-51dc3bc71ac7","name":"John Smith","signedAtTime":"2015-05-23T14:04:02Z","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},"stringValue":"Red Truck"}},{"label":"Load weight","type":"number","value":{"barcodeValue":[{"barcodeType":"org.gs1.EAN-13","barcodeValue":"0853883003114"},{"barcodeType":"org.gs1.EAN-13","barcodeValue":"0853883003114"},{"barcodeType":"org.gs1.EAN-13","barcodeValue":"0853883003114"},{"barcodeType":"org.gs1.EAN-13","barcodeValue":"0853883003114"}],"dateTimeValue":{"dateTime":"1988-11-10T02:42:05Z"},"multipleChoiceValue":[{"selected":false,"value":"Yes"},{"selected":false,"value":"Yes"},{"selected":false,"value":"Yes"}],"numberValue":123.456,"photoValue":[{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"}],"scannedDocumentValue":[{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"}],"signatureValue":{"id":"9814a1fa-f0c6-408b-bf85-51dc3bc71ac7","name":"John Smith","signedAtTime":"2015-05-23T14:04:02Z","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},"stringValue":"Red Truck"}}],"id":"9814a1fa-f0c6-408b-bf85-51dc3bc71ac7","name":"Dropoff Slip 123","notes":"Missing a crate","routeStop":{"externalIds":{"maintenanceId":"250020","payrollId":"ABFS18600"},"id":"494123","name":"Company Warehouse #1"},"state":"submitted","updatedAtTime":"2009-08-02T13:49:28Z","vehicle":{"externalIds":{"maintenanceId":"250020","payrollId":"ABFS18600"},"id":"494123","name":"Fleet Truck #1"}},{"conditionalFieldSections":[{"conditionalFieldFirstIndex":6938962353426761953,"conditionalFieldLastIndex":4390182947667394595,"triggeringFieldIndex":1685137297280875031,"triggeringFieldValue":"Accusamus asperiores corporis doloribus reprehenderit sit velit."},{"conditionalFieldFirstIndex":6938962353426761953,"conditionalFieldLastIndex":4390182947667394595,"triggeringFieldIndex":1685137297280875031,"triggeringFieldValue":"Accusamus asperiores corporis doloribus reprehenderit sit velit."},{"conditionalFieldFirstIndex":6938962353426761953,"conditionalFieldLastIndex":4390182947667394595,"triggeringFieldIndex":1685137297280875031,"triggeringFieldValue":"Accusamus asperiores corporis doloribus reprehenderit sit velit."}],"createdAtTime":"2005-07-09T02:19:49Z","documentType":{"id":"9814a1fa-f0c6-408b-bf85-51dc3bc71ac7","name":"Fleet Truck List"},"driver":{"externalIds":{"maintenanceId":"250020","payrollId":"ABFS18600"},"id":"45646","name":"Driver Bob"},"fields":[{"label":"Load weight","type":"number","value":{"barcodeValue":[{"barcodeType":"org.gs1.EAN-13","barcodeValue":"0853883003114"},{"barcodeType":"org.gs1.EAN-13","barcodeValue":"0853883003114"},{"barcodeType":"org.gs1.EAN-13","barcodeValue":"0853883003114"},{"barcodeType":"org.gs1.EAN-13","barcodeValue":"0853883003114"}],"dateTimeValue":{"dateTime":"1988-11-10T02:42:05Z"},"multipleChoiceValue":[{"selected":false,"value":"Yes"},{"selected":false,"value":"Yes"},{"selected":false,"value":"Yes"}],"numberValue":123.456,"photoValue":[{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"}],"scannedDocumentValue":[{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"}],"signatureValue":{"id":"9814a1fa-f0c6-408b-bf85-51dc3bc71ac7","name":"John Smith","signedAtTime":"2015-05-23T14:04:02Z","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},"stringValue":"Red Truck"}},{"label":"Load weight","type":"number","value":{"barcodeValue":[{"barcodeType":"org.gs1.EAN-13","barcodeValue":"0853883003114"},{"barcodeType":"org.gs1.EAN-13","barcodeValue":"0853883003114"},{"barcodeType":"org.gs1.EAN-13","barcodeValue":"0853883003114"},{"barcodeType":"org.gs1.EAN-13","barcodeValue":"0853883003114"}],"dateTimeValue":{"dateTime":"1988-11-10T02:42:05Z"},"multipleChoiceValue":[{"selected":false,"value":"Yes"},{"selected":false,"value":"Yes"},{"selected":false,"value":"Yes"}],"numberValue":123.456,"photoValue":[{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"}],"scannedDocumentValue":[{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"}],"signatureValue":{"id":"9814a1fa-f0c6-408b-bf85-51dc3bc71ac7","name":"John Smith","signedAtTime":"2015-05-23T14:04:02Z","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},"stringValue":"Red Truck"}}],"id":"9814a1fa-f0c6-408b-bf85-51dc3bc71ac7","name":"Dropoff Slip 123","notes":"Missing a crate","routeStop":{"externalIds":{"maintenanceId":"250020","payrollId":"ABFS18600"},"id":"494123","name":"Company Warehouse #1"},"state":"submitted","updatedAtTime":"2009-08-02T13:49:28Z","vehicle":{"externalIds":{"maintenanceId":"250020","payrollId":"ABFS18600"},"id":"494123","name":"Fleet Truck #1"}},{"conditionalFieldSections":[{"conditionalFieldFirstIndex":6938962353426761953,"conditionalFieldLastIndex":4390182947667394595,"triggeringFieldIndex":1685137297280875031,"triggeringFieldValue":"Accusamus asperiores corporis doloribus reprehenderit sit velit."},{"conditionalFieldFirstIndex":6938962353426761953,"conditionalFieldLastIndex":4390182947667394595,"triggeringFieldIndex":1685137297280875031,"triggeringFieldValue":"Accusamus asperiores corporis doloribus reprehenderit sit velit."},{"conditionalFieldFirstIndex":6938962353426761953,"conditionalFieldLastIndex":4390182947667394595,"triggeringFieldIndex":1685137297280875031,"triggeringFieldValue":"Accusamus asperiores corporis doloribus reprehenderit sit velit."}],"createdAtTime":"2005-07-09T02:19:49Z","documentType":{"id":"9814a1fa-f0c6-408b-bf85-51dc3bc71ac7","name":"Fleet Truck List"},"driver":{"externalIds":{"maintenanceId":"250020","payrollId":"ABFS18600"},"id":"45646","name":"Driver Bob"},"fields":[{"label":"Load weight","type":"number","value":{"barcodeValue":[{"barcodeType":"org.gs1.EAN-13","barcodeValue":"0853883003114"},{"barcodeType":"org.gs1.EAN-13","barcodeValue":"0853883003114"},{"barcodeType":"org.gs1.EAN-13","barcodeValue":"0853883003114"},{"barcodeType":"org.gs1.EAN-13","barcodeValue":"0853883003114"}],"dateTimeValue":{"dateTime":"1988-11-10T02:42:05Z"},"multipleChoiceValue":[{"selected":false,"value":"Yes"},{"selected":false,"value":"Yes"},{"selected":false,"value":"Yes"}],"numberValue":123.456,"photoValue":[{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"}],"scannedDocumentValue":[{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"}],"signatureValue":{"id":"9814a1fa-f0c6-408b-bf85-51dc3bc71ac7","name":"John Smith","signedAtTime":"2015-05-23T14:04:02Z","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},"stringValue":"Red Truck"}},{"label":"Load weight","type":"number","value":{"barcodeValue":[{"barcodeType":"org.gs1.EAN-13","barcodeValue":"0853883003114"},{"barcodeType":"org.gs1.EAN-13","barcodeValue":"0853883003114"},{"barcodeType":"org.gs1.EAN-13","barcodeValue":"0853883003114"},{"barcodeType":"org.gs1.EAN-13","barcodeValue":"0853883003114"}],"dateTimeValue":{"dateTime":"1988-11-10T02:42:05Z"},"multipleChoiceValue":[{"selected":false,"value":"Yes"},{"selected":false,"value":"Yes"},{"selected":false,"value":"Yes"}],"numberValue":123.456,"photoValue":[{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"}],"scannedDocumentValue":[{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"}],"signatureValue":{"id":"9814a1fa-f0c6-408b-bf85-51dc3bc71ac7","name":"John Smith","signedAtTime":"2015-05-23T14:04:02Z","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},"stringValue":"Red Truck"}}],"id":"9814a1fa-f0c6-408b-bf85-51dc3bc71ac7","name":"Dropoff Slip 123","notes":"Missing a crate","routeStop":{"externalIds":{"maintenanceId":"250020","payrollId":"ABFS18600"},"id":"494123","name":"Company Warehouse #1"},"state":"submitted","updatedAtTime":"2009-08-02T13:49:28Z","vehicle":{"externalIds":{"maintenanceId":"250020","payrollId":"ABFS18600"},"id":"494123","name":"Fleet Truck #1"}},{"conditionalFieldSections":[{"conditionalFieldFirstIndex":6938962353426761953,"conditionalFieldLastIndex":4390182947667394595,"triggeringFieldIndex":1685137297280875031,"triggeringFieldValue":"Accusamus asperiores corporis doloribus reprehenderit sit velit."},{"conditionalFieldFirstIndex":6938962353426761953,"conditionalFieldLastIndex":4390182947667394595,"triggeringFieldIndex":1685137297280875031,"triggeringFieldValue":"Accusamus asperiores corporis doloribus reprehenderit sit velit."},{"conditionalFieldFirstIndex":6938962353426761953,"conditionalFieldLastIndex":4390182947667394595,"triggeringFieldIndex":1685137297280875031,"triggeringFieldValue":"Accusamus asperiores corporis doloribus reprehenderit sit velit."}],"createdAtTime":"2005-07-09T02:19:49Z","documentType":{"id":"9814a1fa-f0c6-408b-bf85-51dc3bc71ac7","name":"Fleet Truck List"},"driver":{"externalIds":{"maintenanceId":"250020","payrollId":"ABFS18600"},"id":"45646","name":"Driver Bob"},"fields":[{"label":"Load weight","type":"number","value":{"barcodeValue":[{"barcodeType":"org.gs1.EAN-13","barcodeValue":"0853883003114"},{"barcodeType":"org.gs1.EAN-13","barcodeValue":"0853883003114"},{"barcodeType":"org.gs1.EAN-13","barcodeValue":"0853883003114"},{"barcodeType":"org.gs1.EAN-13","barcodeValue":"0853883003114"}],"dateTimeValue":{"dateTime":"1988-11-10T02:42:05Z"},"multipleChoiceValue":[{"selected":false,"value":"Yes"},{"selected":false,"value":"Yes"},{"selected":false,"value":"Yes"}],"numberValue":123.456,"photoValue":[{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"}],"scannedDocumentValue":[{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"}],"signatureValue":{"id":"9814a1fa-f0c6-408b-bf85-51dc3bc71ac7","name":"John Smith","signedAtTime":"2015-05-23T14:04:02Z","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},"stringValue":"Red Truck"}},{"label":"Load weight","type":"number","value":{"barcodeValue":[{"barcodeType":"org.gs1.EAN-13","barcodeValue":"0853883003114"},{"barcodeType":"org.gs1.EAN-13","barcodeValue":"0853883003114"},{"barcodeType":"org.gs1.EAN-13","barcodeValue":"0853883003114"},{"barcodeType":"org.gs1.EAN-13","barcodeValue":"0853883003114"}],"dateTimeValue":{"dateTime":"1988-11-10T02:42:05Z"},"multipleChoiceValue":[{"selected":false,"value":"Yes"},{"selected":false,"value":"Yes"},{"selected":false,"value":"Yes"}],"numberValue":123.456,"photoValue":[{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"}],"scannedDocumentValue":[{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"}],"signatureValue":{"id":"9814a1fa-f0c6-408b-bf85-51dc3bc71ac7","name":"John Smith","signedAtTime":"2015-05-23T14:04:02Z","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},"stringValue":"Red Truck"}}],"id":"9814a1fa-f0c6-408b-bf85-51dc3bc71ac7","name":"Dropoff Slip 123","notes":"Missing a crate","routeStop":{"externalIds":{"maintenanceId":"250020","payrollId":"ABFS18600"},"id":"494123","name":"Company Warehouse #1"},"state":"submitted","updatedAtTime":"2009-08-02T13:49:28Z","vehicle":{"externalIds":{"maintenanceId":"250020","payrollId":"ABFS18600"},"id":"494123","name":"Fleet Truck #1"}}],"pagination":{"endCursor":"MjkY","hasNextPage":true}}}}},"400":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"Invalid value for parameter.","requestId":"8916e1c1"}}}},"401":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"Invalid token.","requestId":"8916e1c1"}}}},"404":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"Object not found.","requestId":"8916e1c1"}}}},"405":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"DELETE not allowed on /endpoint.","requestId":"8916e1c1"}}}},"429":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"Exceeded rate limit.","requestId":"8916e1c1"}}}},"500":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"Failed to execute GraphQL query.","requestId":"8916e1c1"}}}},"501":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"Not implemented.","requestId":"8916e1c1"}}}},"502":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"rpc error: code = Unknown desc = connection refused","requestId":"8916e1c1"}}}},"503":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"context deadline exceeded","requestId":"8916e1c1"}}}},"504":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"context deadline exceeded","requestId":"8916e1c1"}}}}}},"post":{"tags":["Documents"],"summary":"[beta] Create document","description":"Creates a single document.","operationId":"Documents#postDocument","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateDocumentRequest"},"example":{"documentTypeId":"9814a1fa-f0c6-408b-bf85-51dc3bc71ac7","driverId":"45646","fields":[{"label":"Load weight","type":"number","value":{"barcodeValue":[{"barcodeType":"org.gs1.EAN-13","barcodeValue":"0853883003114"},{"barcodeType":"org.gs1.EAN-13","barcodeValue":"0853883003114"},{"barcodeType":"org.gs1.EAN-13","barcodeValue":"0853883003114"}],"dateTimeValue":{"dateTime":"2015-12-02T08:59:19Z"},"multipleChoiceValue":[{"selected":false,"value":"Yes"},{"selected":false,"value":"Yes"},{"selected":false,"value":"Yes"}],"numberValue":123.456,"photoValue":[{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"}],"scannedDocumentValue":[{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"}],"signatureValue":{"id":"9814a1fa-f0c6-408b-bf85-51dc3bc71ac7","name":"John Smith","signedAtTime":"1974-12-06T11:11:00Z","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},"stringValue":"Red Truck"}},{"label":"Load weight","type":"number","value":{"barcodeValue":[{"barcodeType":"org.gs1.EAN-13","barcodeValue":"0853883003114"},{"barcodeType":"org.gs1.EAN-13","barcodeValue":"0853883003114"},{"barcodeType":"org.gs1.EAN-13","barcodeValue":"0853883003114"}],"dateTimeValue":{"dateTime":"2015-12-02T08:59:19Z"},"multipleChoiceValue":[{"selected":false,"value":"Yes"},{"selected":false,"value":"Yes"},{"selected":false,"value":"Yes"}],"numberValue":123.456,"photoValue":[{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"}],"scannedDocumentValue":[{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"}],"signatureValue":{"id":"9814a1fa-f0c6-408b-bf85-51dc3bc71ac7","name":"John Smith","signedAtTime":"1974-12-06T11:11:00Z","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},"stringValue":"Red Truck"}},{"label":"Load weight","type":"number","value":{"barcodeValue":[{"barcodeType":"org.gs1.EAN-13","barcodeValue":"0853883003114"},{"barcodeType":"org.gs1.EAN-13","barcodeValue":"0853883003114"},{"barcodeType":"org.gs1.EAN-13","barcodeValue":"0853883003114"}],"dateTimeValue":{"dateTime":"2015-12-02T08:59:19Z"},"multipleChoiceValue":[{"selected":false,"value":"Yes"},{"selected":false,"value":"Yes"},{"selected":false,"value":"Yes"}],"numberValue":123.456,"photoValue":[{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"}],"scannedDocumentValue":[{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"}],"signatureValue":{"id":"9814a1fa-f0c6-408b-bf85-51dc3bc71ac7","name":"John Smith","signedAtTime":"1974-12-06T11:11:00Z","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},"stringValue":"Red Truck"}},{"label":"Load weight","type":"number","value":{"barcodeValue":[{"barcodeType":"org.gs1.EAN-13","barcodeValue":"0853883003114"},{"barcodeType":"org.gs1.EAN-13","barcodeValue":"0853883003114"},{"barcodeType":"org.gs1.EAN-13","barcodeValue":"0853883003114"}],"dateTimeValue":{"dateTime":"2015-12-02T08:59:19Z"},"multipleChoiceValue":[{"selected":false,"value":"Yes"},{"selected":false,"value":"Yes"},{"selected":false,"value":"Yes"}],"numberValue":123.456,"photoValue":[{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"}],"scannedDocumentValue":[{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"}],"signatureValue":{"id":"9814a1fa-f0c6-408b-bf85-51dc3bc71ac7","name":"John Smith","signedAtTime":"1974-12-06T11:11:00Z","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},"stringValue":"Red Truck"}}],"name":"Dropoff Slip 123","notes":"Missing a crate","routeStopId":"45646","state":"submitted","vehicleId":"45646"}}}},"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetDocumentResponseObject"},"example":{"data":{"conditionalFieldSections":[{"conditionalFieldFirstIndex":6938962353426761953,"conditionalFieldLastIndex":4390182947667394595,"triggeringFieldIndex":1685137297280875031,"triggeringFieldValue":"Accusamus asperiores corporis doloribus reprehenderit sit velit."},{"conditionalFieldFirstIndex":6938962353426761953,"conditionalFieldLastIndex":4390182947667394595,"triggeringFieldIndex":1685137297280875031,"triggeringFieldValue":"Accusamus asperiores corporis doloribus reprehenderit sit velit."},{"conditionalFieldFirstIndex":6938962353426761953,"conditionalFieldLastIndex":4390182947667394595,"triggeringFieldIndex":1685137297280875031,"triggeringFieldValue":"Accusamus asperiores corporis doloribus reprehenderit sit velit."}],"createdAtTime":"2005-07-09T02:19:49Z","documentType":{"id":"9814a1fa-f0c6-408b-bf85-51dc3bc71ac7","name":"Fleet Truck List"},"driver":{"externalIds":{"maintenanceId":"250020","payrollId":"ABFS18600"},"id":"45646","name":"Driver Bob"},"fields":[{"label":"Load weight","type":"number","value":{"barcodeValue":[{"barcodeType":"org.gs1.EAN-13","barcodeValue":"0853883003114"},{"barcodeType":"org.gs1.EAN-13","barcodeValue":"0853883003114"},{"barcodeType":"org.gs1.EAN-13","barcodeValue":"0853883003114"},{"barcodeType":"org.gs1.EAN-13","barcodeValue":"0853883003114"}],"dateTimeValue":{"dateTime":"1988-11-10T02:42:05Z"},"multipleChoiceValue":[{"selected":false,"value":"Yes"},{"selected":false,"value":"Yes"},{"selected":false,"value":"Yes"}],"numberValue":123.456,"photoValue":[{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"}],"scannedDocumentValue":[{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"}],"signatureValue":{"id":"9814a1fa-f0c6-408b-bf85-51dc3bc71ac7","name":"John Smith","signedAtTime":"2015-05-23T14:04:02Z","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},"stringValue":"Red Truck"}},{"label":"Load weight","type":"number","value":{"barcodeValue":[{"barcodeType":"org.gs1.EAN-13","barcodeValue":"0853883003114"},{"barcodeType":"org.gs1.EAN-13","barcodeValue":"0853883003114"},{"barcodeType":"org.gs1.EAN-13","barcodeValue":"0853883003114"},{"barcodeType":"org.gs1.EAN-13","barcodeValue":"0853883003114"}],"dateTimeValue":{"dateTime":"1988-11-10T02:42:05Z"},"multipleChoiceValue":[{"selected":false,"value":"Yes"},{"selected":false,"value":"Yes"},{"selected":false,"value":"Yes"}],"numberValue":123.456,"photoValue":[{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"}],"scannedDocumentValue":[{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"}],"signatureValue":{"id":"9814a1fa-f0c6-408b-bf85-51dc3bc71ac7","name":"John Smith","signedAtTime":"2015-05-23T14:04:02Z","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},"stringValue":"Red Truck"}}],"id":"9814a1fa-f0c6-408b-bf85-51dc3bc71ac7","name":"Dropoff Slip 123","notes":"Missing a crate","routeStop":{"externalIds":{"maintenanceId":"250020","payrollId":"ABFS18600"},"id":"494123","name":"Company Warehouse #1"},"state":"submitted","updatedAtTime":"2009-08-02T13:49:28Z","vehicle":{"externalIds":{"maintenanceId":"250020","payrollId":"ABFS18600"},"id":"494123","name":"Fleet Truck #1"}}}}}},"400":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"Invalid value for parameter.","requestId":"8916e1c1"}}}},"401":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"Invalid token.","requestId":"8916e1c1"}}}},"404":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"Object not found.","requestId":"8916e1c1"}}}},"405":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"DELETE not allowed on /endpoint.","requestId":"8916e1c1"}}}},"429":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"Exceeded rate limit.","requestId":"8916e1c1"}}}},"500":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"Failed to execute GraphQL query.","requestId":"8916e1c1"}}}},"501":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"Not implemented.","requestId":"8916e1c1"}}}},"502":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"rpc error: code = Unknown desc = connection refused","requestId":"8916e1c1"}}}},"503":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"context deadline exceeded","requestId":"8916e1c1"}}}},"504":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"context deadline exceeded","requestId":"8916e1c1"}}}}}}},"/beta/fleet/documents/{id}":{"delete":{"tags":["Documents"],"summary":"[beta] Delete document","description":"Deletes a single document.","operationId":"Documents#deleteDocument","parameters":[{"name":"id","in":"path","description":"ID of the document to delete","required":true,"schema":{"type":"string","description":"ID of the document to delete","example":"9814a1fa-f0c6-408b-bf85-51dc3bc71ac7"},"example":"9814a1fa-f0c6-408b-bf85-51dc3bc71ac7"}],"responses":{"204":{"description":"","content":{"application/json":{"example":{}}}},"400":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"Invalid value for parameter.","requestId":"8916e1c1"}}}},"401":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"Invalid token.","requestId":"8916e1c1"}}}},"404":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"Object not found.","requestId":"8916e1c1"}}}},"405":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"DELETE not allowed on /endpoint.","requestId":"8916e1c1"}}}},"429":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"Exceeded rate limit.","requestId":"8916e1c1"}}}},"500":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"Failed to execute GraphQL query.","requestId":"8916e1c1"}}}},"501":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"Not implemented.","requestId":"8916e1c1"}}}},"502":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"rpc error: code = Unknown desc = connection refused","requestId":"8916e1c1"}}}},"503":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"context deadline exceeded","requestId":"8916e1c1"}}}},"504":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"context deadline exceeded","requestId":"8916e1c1"}}}}}},"get":{"tags":["Documents"],"summary":"[beta] Fetch document","description":"Returns a single document.","operationId":"Documents#getDocument","parameters":[{"name":"id","in":"path","description":"ID of the document","required":true,"schema":{"type":"string","description":"ID of the document","example":"9814a1fa-f0c6-408b-bf85-51dc3bc71ac7"},"example":"9814a1fa-f0c6-408b-bf85-51dc3bc71ac7"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetDocumentResponseObject"},"example":{"data":{"conditionalFieldSections":[{"conditionalFieldFirstIndex":6938962353426761953,"conditionalFieldLastIndex":4390182947667394595,"triggeringFieldIndex":1685137297280875031,"triggeringFieldValue":"Accusamus asperiores corporis doloribus reprehenderit sit velit."},{"conditionalFieldFirstIndex":6938962353426761953,"conditionalFieldLastIndex":4390182947667394595,"triggeringFieldIndex":1685137297280875031,"triggeringFieldValue":"Accusamus asperiores corporis doloribus reprehenderit sit velit."},{"conditionalFieldFirstIndex":6938962353426761953,"conditionalFieldLastIndex":4390182947667394595,"triggeringFieldIndex":1685137297280875031,"triggeringFieldValue":"Accusamus asperiores corporis doloribus reprehenderit sit velit."}],"createdAtTime":"2005-07-09T02:19:49Z","documentType":{"id":"9814a1fa-f0c6-408b-bf85-51dc3bc71ac7","name":"Fleet Truck List"},"driver":{"externalIds":{"maintenanceId":"250020","payrollId":"ABFS18600"},"id":"45646","name":"Driver Bob"},"fields":[{"label":"Load weight","type":"number","value":{"barcodeValue":[{"barcodeType":"org.gs1.EAN-13","barcodeValue":"0853883003114"},{"barcodeType":"org.gs1.EAN-13","barcodeValue":"0853883003114"},{"barcodeType":"org.gs1.EAN-13","barcodeValue":"0853883003114"},{"barcodeType":"org.gs1.EAN-13","barcodeValue":"0853883003114"}],"dateTimeValue":{"dateTime":"1988-11-10T02:42:05Z"},"multipleChoiceValue":[{"selected":false,"value":"Yes"},{"selected":false,"value":"Yes"},{"selected":false,"value":"Yes"}],"numberValue":123.456,"photoValue":[{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"}],"scannedDocumentValue":[{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"}],"signatureValue":{"id":"9814a1fa-f0c6-408b-bf85-51dc3bc71ac7","name":"John Smith","signedAtTime":"2015-05-23T14:04:02Z","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},"stringValue":"Red Truck"}},{"label":"Load weight","type":"number","value":{"barcodeValue":[{"barcodeType":"org.gs1.EAN-13","barcodeValue":"0853883003114"},{"barcodeType":"org.gs1.EAN-13","barcodeValue":"0853883003114"},{"barcodeType":"org.gs1.EAN-13","barcodeValue":"0853883003114"},{"barcodeType":"org.gs1.EAN-13","barcodeValue":"0853883003114"}],"dateTimeValue":{"dateTime":"1988-11-10T02:42:05Z"},"multipleChoiceValue":[{"selected":false,"value":"Yes"},{"selected":false,"value":"Yes"},{"selected":false,"value":"Yes"}],"numberValue":123.456,"photoValue":[{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"}],"scannedDocumentValue":[{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},{"id":"f5271458-21f9-4a9f-a290-780c6d8840ff","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"}],"signatureValue":{"id":"9814a1fa-f0c6-408b-bf85-51dc3bc71ac7","name":"John Smith","signedAtTime":"2015-05-23T14:04:02Z","url":"https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"},"stringValue":"Red Truck"}}],"id":"9814a1fa-f0c6-408b-bf85-51dc3bc71ac7","name":"Dropoff Slip 123","notes":"Missing a crate","routeStop":{"externalIds":{"maintenanceId":"250020","payrollId":"ABFS18600"},"id":"494123","name":"Company Warehouse #1"},"state":"submitted","updatedAtTime":"2009-08-02T13:49:28Z","vehicle":{"externalIds":{"maintenanceId":"250020","payrollId":"ABFS18600"},"id":"494123","name":"Fleet Truck #1"}}}}}},"400":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"Invalid value for parameter.","requestId":"8916e1c1"}}}},"401":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"Invalid token.","requestId":"8916e1c1"}}}},"404":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"Object not found.","requestId":"8916e1c1"}}}},"405":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"DELETE not allowed on /endpoint.","requestId":"8916e1c1"}}}},"429":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"Exceeded rate limit.","requestId":"8916e1c1"}}}},"500":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"Failed to execute GraphQL query.","requestId":"8916e1c1"}}}},"501":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"Not implemented.","requestId":"8916e1c1"}}}},"502":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"rpc error: code = Unknown desc = connection refused","requestId":"8916e1c1"}}}},"503":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"context deadline exceeded","requestId":"8916e1c1"}}}},"504":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"context deadline exceeded","requestId":"8916e1c1"}}}}}}},"/beta/fleet/equipment/{id}":{"patch":{"tags":["Equipment"],"summary":"[beta] Update an equipment","description":"Update an equipment.  **Note** this implementation of patch uses [the JSON merge patch](https://tools.ietf.org/html/rfc7396) proposed standard.\n This means that any fields included in the patch request will _overwrite_ fields which exist on the target resource.\n For arrays, this means any array included in the request will _replace_ the array that exists at the specified path, it will not _add_ to the existing array","operationId":"Equipment#patchEquipment","parameters":[{"name":"id","in":"path","description":"The unique Samsara ID of the Equipment. This is automatically generated when the Equipment object is created. It cannot be changed.","required":true,"schema":{"type":"string","description":"The unique Samsara ID of the Equipment. This is automatically generated when the Equipment object is created. It cannot be changed.","example":"494123"},"example":"494123"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchEquipmentObject"},"example":{"attributes":[{"id":"494123","name":"Compliance/ELD","numberValues":[867,5309],"stringValues":["HQ","Leased"]},{"id":"494123","name":"Compliance/ELD","numberValues":[867,5309],"stringValues":["HQ","Leased"]},{"id":"494123","name":"Compliance/ELD","numberValues":[867,5309],"stringValues":["HQ","Leased"]},{"id":"494123","name":"Compliance/ELD","numberValues":[867,5309],"stringValues":["HQ","Leased"]}],"engineHours":1234,"equipmentSerialNumber":"8V8WD530FLN016251","externalIds":{"maintenanceId":"250020","payrollId":"ABFS18600"},"id":"494123","name":"Equipment-123","notes":"These are my equipment notes","odometerMeters":1234,"tagIds":["Nulla quo nobis.","Natus aspernatur est est qui quae."]}}}},"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SingleEquipmentResponse"},"example":{"data":{"attributes":[{"id":"494123","name":"Compliance/ELD","numberValues":[867,5309],"stringValues":["HQ","Leased"]},{"id":"494123","name":"Compliance/ELD","numberValues":[867,5309],"stringValues":["HQ","Leased"]}],"equipmentSerialNumber":"8V8WD530FLN016251","externalIds":{"maintenanceId":"250020","payrollId":"ABFS18600"},"id":"494123","installedGateway":{"model":"VG34","serial":"GFRV-43N-VGX"},"name":"Equipment-123","notes":"These are my equipment notes","tags":[{"id":"3914","name":"East Coast","parentTagId":"4815"},{"id":"3914","name":"East Coast","parentTagId":"4815"}]}}}}},"400":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"Invalid value for parameter.","requestId":"8916e1c1"}}}},"401":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"Invalid token.","requestId":"8916e1c1"}}}},"404":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"Object not found.","requestId":"8916e1c1"}}}},"405":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"DELETE not allowed on /endpoint.","requestId":"8916e1c1"}}}},"429":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"Exceeded rate limit.","requestId":"8916e1c1"}}}},"500":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"Failed to execute GraphQL query.","requestId":"8916e1c1"}}}},"501":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"Not implemented.","requestId":"8916e1c1"}}}},"502":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"rpc error: code = Unknown desc = connection refused","requestId":"8916e1c1"}}}},"503":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"context deadline exceeded","requestId":"8916e1c1"}}}},"504":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"context deadline exceeded","requestId":"8916e1c1"}}}}}}},"/beta/fleet/settings/compliance":{"get":{"tags":["Settings"],"summary":"[beta] Get compliance settings","description":"Get organization's compliance settings, including carrier name, office address, and DOT number","operationId":"Settings#getComplianceSettings","responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SettingsComplianceResponse"},"example":{"data":{"allowUnregulatedVehiclesEnabled":false,"canadaHosEnabled":true,"carrierName":"ABC Trucking","dotNumber":12345678,"driverAutoDutyEnabled":true,"editCertifiedLogsEnabled":false,"forceManualLocationForDutyStatusChangesEnabled":true,"forceReviewUnassignedHosEnabled":true,"mainOfficeFormattedAddress":"123 Main Street","persistentDutyStatusEnabled":true}}}}},"400":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"Invalid value for parameter.","requestId":"8916e1c1"}}}},"401":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"Invalid token.","requestId":"8916e1c1"}}}},"404":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"Object not found.","requestId":"8916e1c1"}}}},"405":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"DELETE not allowed on /endpoint.","requestId":"8916e1c1"}}}},"429":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"Exceeded rate limit.","requestId":"8916e1c1"}}}},"500":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"Failed to execute GraphQL query.","requestId":"8916e1c1"}}}},"501":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"Not implemented.","requestId":"8916e1c1"}}}},"502":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"rpc error: code = Unknown desc = connection refused","requestId":"8916e1c1"}}}},"503":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"context deadline exceeded","requestId":"8916e1c1"}}}},"504":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"context deadline exceeded","requestId":"8916e1c1"}}}}}},"patch":{"tags":["Settings"],"summary":"[beta] Update compliance settings","description":"Update organization's compliance settings, including carrier name, office address, and DOT number","operationId":"Settings#patchComplianceSettings","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SettingsComplianceResponseObject"},"example":{"allowUnregulatedVehiclesEnabled":false,"canadaHosEnabled":true,"carrierName":"ABC Trucking","dotNumber":12345678,"driverAutoDutyEnabled":false,"editCertifiedLogsEnabled":false,"forceManualLocationForDutyStatusChangesEnabled":false,"forceReviewUnassignedHosEnabled":true,"mainOfficeFormattedAddress":"123 Main Street","persistentDutyStatusEnabled":false}}}},"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SettingsComplianceResponse"},"example":{"data":{"allowUnregulatedVehiclesEnabled":false,"canadaHosEnabled":true,"carrierName":"ABC Trucking","dotNumber":12345678,"driverAutoDutyEnabled":true,"editCertifiedLogsEnabled":false,"forceManualLocationForDutyStatusChangesEnabled":true,"forceReviewUnassignedHosEnabled":true,"mainOfficeFormattedAddress":"123 Main Street","persistentDutyStatusEnabled":true}}}}},"400":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"Invalid value for parameter.","requestId":"8916e1c1"}}}},"401":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"Invalid token.","requestId":"8916e1c1"}}}},"404":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"Object not found.","requestId":"8916e1c1"}}}},"405":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"DELETE not allowed on /endpoint.","requestId":"8916e1c1"}}}},"429":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"Exceeded rate limit.","requestId":"8916e1c1"}}}},"500":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"Failed to execute GraphQL query.","requestId":"8916e1c1"}}}},"501":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"Not implemented.","requestId":"8916e1c1"}}}},"502":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"rpc error: code = Unknown desc = connection refused","requestId":"8916e1c1"}}}},"503":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"context deadline exceeded","requestId":"8916e1c1"}}}},"504":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"context deadline exceeded","requestId":"8916e1c1"}}}}}}},"/beta/fleet/settings/driver-app":{"get":{"tags":["Settings"],"summary":"[beta] Get driver app settings","description":"Get driver app settings.","operationId":"Settings#getDriverAppSettings","responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DriverAppSettingsResponse"},"example":{"data":{"driverFleetId":"abc_trucking_co"}}}}},"400":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"Invalid value for parameter.","requestId":"8916e1c1"}}}},"401":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"Invalid token.","requestId":"8916e1c1"}}}},"404":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"Object not found.","requestId":"8916e1c1"}}}},"405":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"DELETE not allowed on /endpoint.","requestId":"8916e1c1"}}}},"429":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"Exceeded rate limit.","requestId":"8916e1c1"}}}},"500":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"Failed to execute GraphQL query.","requestId":"8916e1c1"}}}},"501":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"Not implemented.","requestId":"8916e1c1"}}}},"502":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"rpc error: code = Unknown desc = connection refused","requestId":"8916e1c1"}}}},"503":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"context deadline exceeded","requestId":"8916e1c1"}}}},"504":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"context deadline exceeded","requestId":"8916e1c1"}}}}}},"patch":{"tags":["Settings"],"summary":"[beta] Update driver app settings","description":"Update driver app settings.","operationId":"Settings#patchDriverAppSettings","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DriverAppSettingsResponseObject"},"example":{"driverFleetId":"abc-trucking-co"}}}},"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DriverAppSettingsResponse"},"example":{"data":{"driverFleetId":"abc_trucking_co"}}}}},"400":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"Invalid value for parameter.","requestId":"8916e1c1"}}}},"401":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"Invalid token.","requestId":"8916e1c1"}}}},"404":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"Object not found.","requestId":"8916e1c1"}}}},"405":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"DELETE not allowed on /endpoint.","requestId":"8916e1c1"}}}},"429":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"Exceeded rate limit.","requestId":"8916e1c1"}}}},"500":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"Failed to execute GraphQL query.","requestId":"8916e1c1"}}}},"501":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"Not implemented.","requestId":"8916e1c1"}}}},"502":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"rpc error: code = Unknown desc = connection refused","requestId":"8916e1c1"}}}},"503":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"context deadline exceeded","requestId":"8916e1c1"}}}},"504":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"context deadline exceeded","requestId":"8916e1c1"}}}}}}},"/beta/fleet/trailers":{"post":{"tags":["Trailers"],"summary":"[beta] Creates a new trailer asset","description":"Creates a new trailer asset.","operationId":"Trailers#createTrailer","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateTrailerRequest"},"example":{"attributes":[{"id":"494123","name":"Compliance/ELD","numberValues":[867,5309],"stringValues":["HQ","Leased"]},{"id":"494123","name":"Compliance/ELD","numberValues":[867,5309],"stringValues":["HQ","Leased"]},{"id":"494123","name":"Compliance/ELD","numberValues":[867,5309],"stringValues":["HQ","Leased"]}],"enabledForMobile":true,"externalIds":{"maintenanceId":"250020","payrollId":"ABFS18600"},"licensePlate":"7TYP290","name":"Trailer-123","notes":"These are my trailer notes","tagIds":["Quia odit tempore et quidem non qui.","Aspernatur rerum eos aperiam aut et veniam.","Numquam voluptates sint omnis.","Officiis voluptates autem quia."],"trailerSerialNumber":"8V8WD530FLN016251"}}}},"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SingleTrailerResponse"},"example":{"data":{"attributes":[{"id":"494123","name":"Compliance/ELD","numberValues":[867,5309],"stringValues":["HQ","Leased"]},{"id":"494123","name":"Compliance/ELD","numberValues":[867,5309],"stringValues":["HQ","Leased"]},{"id":"494123","name":"Compliance/ELD","numberValues":[867,5309],"stringValues":["HQ","Leased"]}],"enabledForMobile":true,"externalIds":{"maintenanceId":"250020","payrollId":"ABFS18600"},"id":"494123","installedGateway":{"model":"VG34","serial":"GFRV-43N-VGX"},"licensePlate":"7TYP290","name":"Trailer-123","notes":"These are my trailer notes","tags":[{"id":"3914","name":"East Coast","parentTagId":"4815"},{"id":"3914","name":"East Coast","parentTagId":"4815"}],"trailerSerialNumber":"8V8WD530FLN016251"}}}}},"400":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"Invalid value for parameter.","requestId":"8916e1c1"}}}},"401":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"Invalid token.","requestId":"8916e1c1"}}}},"404":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"Object not found.","requestId":"8916e1c1"}}}},"405":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"DELETE not allowed on /endpoint.","requestId":"8916e1c1"}}}},"429":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"Exceeded rate limit.","requestId":"8916e1c1"}}}},"500":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"Failed to execute GraphQL query.","requestId":"8916e1c1"}}}},"501":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"Not implemented.","requestId":"8916e1c1"}}}},"502":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"rpc error: code = Unknown desc = connection refused","requestId":"8916e1c1"}}}},"503":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"context deadline exceeded","requestId":"8916e1c1"}}}},"504":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"context deadline exceeded","requestId":"8916e1c1"}}}}}}},"/beta/fleet/trailers/stats":{"get":{"tags":["Trailers"],"summary":"[beta] Get trailer stats","description":"Returns the last known stats of all trailers at the given `time`. If no `time` is specified, the current time is used.","operationId":"TrailerStats#getTrailerStatsSnapshot","parameters":[{"name":"types","in":"query","description":"The stat types you want this endpoint to return information on.\n\nYou may list **up to 3** types using comma-separated format. For example: `types=gps,reeferAmbientAirTemperatureMilliC,gpsOdometerMeters`.\n\n* `gps`: GPS data including lat/long, heading, speed, and a reverse geocode address.\n* `gpsOdometerMeters`: Odometer reading provided by GPS calculations. You must provide a manual odometer reading before this value is updated. Manual odometer readings can be provided via the PATCH /fleet/trailers/{id} endpoint or through the [cloud dashboard](https://kb.samsara.com/hc/en-us/articles/115005273667-Editing-Odometer-Reading). Odometer readings wthat are manually set will update as GPS trip data is gathered.\n* `reeferAmbientAirTemperatureMilliC`: The ambient air temperature reading of the reefer in millidegree Celsius.\n* `reeferObdEngineSeconds`: The cumulative number of seconds the reefer has run according to onboard diagnostics. Only supported on reefer solutions.\n* `reeferSupplyAirTemperatureMilliCZone1`: The supply or discharge air temperature zone 1 in millidegrees Celsius. For single zone reefers, this applies to the single zone. Only supported on multizone reefer solutions.\n* `reeferSupplyAirTemperatureMilliCZone2`: The supply or discharge air temperature zone 2 in millidegrees Celsius. Only supported on multizone reefer solutions.\n* `reeferSupplyAirTemperatureMilliCZone3`: The supply or discharge air temperature zone 3 in millidegrees Celsius. Only supported on multizone reefer solutions.\n* `reeferFuelPercent`: The fuel level of the reefer unit in percentage points (e.g. `99`, `50`, etc). Only supported on reefer solutions.\n* `carrierReeferState`: The overall state of the reefer (`Off`, `On`). Only supported on multizone Carrier reefer solutions.\n* `reeferStateZone1`: The state of the reefer in zone 1. For single zone reefers, this applies tot he single zone. Only supported on multizone reefer solutions.\n* `reeferStateZone2`: The state of the reefer in zone 2. Only supported on multizone reefer solutions.\n* `reeferStateZone3`: The state of the reefer in zone 3. Only supported on multizone reefer solutions.\n* `reeferRunMode`: The operational mode of the reefer (`Start/Stop`, `Continuous`)\n* `reeferAlarms`: Any alarms that are present on the reefer. Only supported on reefer solutions.\n* `reeferReturnAirTemperatureMilliCZone1`: The return air temperature in zone 1 of the reefer in millidegrees Celsius. For single zone reefers, this applies to the single zone. Only supported on multizone reefer solutions.\n* `reeferReturnAirTemperatureMilliCZone2`: The return air temperature in zone 2 of the reefer in millidegrees Celsius. Only supported on multizone reefer solutions.\n* `reeferReturnAirTemperatureMilliCZone3`: The return air temperature in zone 3 of the reefer in millidegrees Celsius. Only supported on multizone reefer solutions.\n* `reeferSetPointTemperatureMilliCZone1`: The set point temperature in zone 1 of the reefer in millidegrees Celsius. For single zone reefers, this applies to the single zone. Only supported on multizone reefer solutions.\n* `reeferSetPointTemperatureMilliCZone2`: The set point temperature in zone 2 of the reefer in millidegrees Celsius. Only supported on multizone reefer solutions.\n* `reeferSetPointTemperatureMilliCZone3`: The set point temperature in zone 3 of the reefer in millidegrees Celsius. Only supported on multizone reefer solutions.","allowEmptyValue":true,"required":true,"schema":{"type":"string","description":"The stat types you want this endpoint to return information on.\n\nYou may list **up to 3** types using comma-separated format. For example: `types=gps,reeferAmbientAirTemperatureMilliC,gpsOdometerMeters`.\n\n* `gps`: GPS data including lat/long, heading, speed, and a reverse geocode address.\n* `gpsOdometerMeters`: Odometer reading provided by GPS calculations. You must provide a manual odometer reading before this value is updated. Manual odometer readings can be provided via the PATCH /fleet/trailers/{id} endpoint or through the [cloud dashboard](https://kb.samsara.com/hc/en-us/articles/115005273667-Editing-Odometer-Reading). Odometer readings wthat are manually set will update as GPS trip data is gathered.\n* `reeferAmbientAirTemperatureMilliC`: The ambient air temperature reading of the reefer in millidegree Celsius.\n* `reeferObdEngineSeconds`: The cumulative number of seconds the reefer has run according to onboard diagnostics. Only supported on reefer solutions.\n* `reeferSupplyAirTemperatureMilliCZone1`: The supply or discharge air temperature zone 1 in millidegrees Celsius. For single zone reefers, this applies to the single zone. Only supported on multizone reefer solutions.\n* `reeferSupplyAirTemperatureMilliCZone2`: The supply or discharge air temperature zone 2 in millidegrees Celsius. Only supported on multizone reefer solutions.\n* `reeferSupplyAirTemperatureMilliCZone3`: The supply or discharge air temperature zone 3 in millidegrees Celsius. Only supported on multizone reefer solutions.\n* `reeferFuelPercent`: The fuel level of the reefer unit in percentage points (e.g. `99`, `50`, etc). Only supported on reefer solutions.\n* `carrierReeferState`: The overall state of the reefer (`Off`, `On`). Only supported on multizone Carrier reefer solutions.\n* `reeferStateZone1`: The state of the reefer in zone 1. For single zone reefers, this applies tot he single zone. Only supported on multizone reefer solutions.\n* `reeferStateZone2`: The state of the reefer in zone 2. Only supported on multizone reefer solutions.\n* `reeferStateZone3`: The state of the reefer in zone 3. Only supported on multizone reefer solutions.\n* `reeferRunMode`: The operational mode of the reefer (`Start/Stop`, `Continuous`)\n* `reeferAlarms`: Any alarms that are present on the reefer. Only supported on reefer solutions.\n* `reeferReturnAirTemperatureMilliCZone1`: The return air temperature in zone 1 of the reefer in millidegrees Celsius. For single zone reefers, this applies to the single zone. Only supported on multizone reefer solutions.\n* `reeferReturnAirTemperatureMilliCZone2`: The return air temperature in zone 2 of the reefer in millidegrees Celsius. Only supported on multizone reefer solutions.\n* `reeferReturnAirTemperatureMilliCZone3`: The return air temperature in zone 3 of the reefer in millidegrees Celsius. Only supported on multizone reefer solutions.\n* `reeferSetPointTemperatureMilliCZone1`: The set point temperature in zone 1 of the reefer in millidegrees Celsius. For single zone reefers, this applies to the single zone. Only supported on multizone reefer solutions.\n* `reeferSetPointTemperatureMilliCZone2`: The set point temperature in zone 2 of the reefer in millidegrees Celsius. Only supported on multizone reefer solutions.\n* `reeferSetPointTemperatureMilliCZone3`: The set point temperature in zone 3 of the reefer in millidegrees Celsius. Only supported on multizone reefer solutions.","example":"Qui deleniti maiores molestiae corporis."},"example":"Nihil est."},{"name":"tagIds","in":"query","description":" A filter on the data based on this comma-separated list of tag IDs. Example: `tagIds=1234,5678`","allowEmptyValue":true,"schema":{"type":"string","description":" A filter on the data based on this comma-separated list of tag IDs. Example: `tagIds=1234,5678`","example":"1234,5678"},"example":"1234,5678"},{"name":"parentTagIds","in":"query","description":" A filter on the data based on this comma-separated list of parent tag IDs, for use by orgs with tag hierarchies. Specifying a parent tag will implicitly include all descendent tags of the parent tag. Example: `parentTagIds=345,678`","allowEmptyValue":true,"schema":{"type":"string","description":" A filter on the data based on this comma-separated list of parent tag IDs, for use by orgs with tag hierarchies. Specifying a parent tag will implicitly include all descendent tags of the parent tag. Example: `parentTagIds=345,678`","example":"345,678"},"example":"345,678"},{"name":"after","in":"query","description":" If specified, this should be the endCursor value from the previous page of results. When present, this request will return the next page of results that occur immediately after the previous page of results.","allowEmptyValue":true,"schema":{"type":"string","description":" If specified, this should be the endCursor value from the previous page of results. When present, this request will return the next page of results that occur immediately after the previous page of results.","example":"c857e70c-dddd-4230-97f1-01f59e86dbf8"},"example":"c857e70c-dddd-4230-97f1-01f59e86dbf8"},{"name":"trailerIds","in":"query","description":" A filter on the data based on this comma-separated list of trailer IDs and externalIds. Example: `trailerIds=1234,5678,samsara.vin:1HGBH41JXMN109186`","allowEmptyValue":true,"schema":{"type":"string","description":" A filter on the data based on this comma-separated list of trailer IDs and externalIds. Example: `trailerIds=1234,5678,samsara.vin:1HGBH41JXMN109186`","example":"1234,5678"},"example":"1234,5678"},{"name":"limit","in":"query","description":"Private limit for testing; to pass along as the graphql 'connection' (e.g. 'driversConnection' or 'devicesConnection') limit.","allowEmptyValue":true,"schema":{"type":"integer","description":"Private limit for testing; to pass along as the graphql 'connection' (e.g. 'driversConnection' or 'devicesConnection') limit.","example":50,"format":"int64"},"example":50},{"name":"time","in":"query","description":" A filter on the data that returns the last known data points with timestamps less than or equal to this value. Defaults to now if not provided. Must be a string in RFC 3339 Format. Millisecond precision and timezones are supported.","allowEmptyValue":true,"schema":{"type":"string","description":" A filter on the data that returns the last known data points with timestamps less than or equal to this value. Defaults to now if not provided. Must be a string in RFC 3339 Format. Millisecond precision and timezones are supported.","example":"2020-01-27T07:06:25Z"},"example":"2020-01-27T07:06:25Z"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetTrailerStatsSnapshotResponseObject"},"example":{"data":[{"carrierReeferState":{"time":"2020-01-27T07:06:25Z","value":"`Off`, `On`"},"gps":{"headingDegrees":907311751699589783,"latitude":7157233536012898514,"longitude":3202754739297170651,"reverseGeo":{"formattedLocation":"Sunt voluptate ipsum aut repudiandae."},"speedMilesPerHour":6540065271569148419,"time":"2020-01-27T07:06:25Z"},"gpsOdometerMeters":{"time":"2020-01-27T07:06:25Z","value":50},"id":"1234","name":"Trailer-123","reeferAlarms":{"alarms":[{"alarmCode":"Dolores nam est et.","description":"Harum sunt cumque enim adipisci.","operatorAction":"Nulla illo porro et harum.","severity":7193001322588868162},{"alarmCode":"Dolores nam est et.","description":"Harum sunt cumque enim adipisci.","operatorAction":"Nulla illo porro et harum.","severity":7193001322588868162},{"alarmCode":"Dolores nam est et.","description":"Harum sunt cumque enim adipisci.","operatorAction":"Nulla illo porro et harum.","severity":7193001322588868162},{"alarmCode":"Dolores nam est et.","description":"Harum sunt cumque enim adipisci.","operatorAction":"Nulla illo porro et harum.","severity":7193001322588868162}],"time":"2020-01-27T07:06:25Z"},"reeferAmbientAirTemperatureMilliC":{"time":"2020-01-27T07:06:25Z","value":50},"reeferFuelPercent":{"time":"2020-01-27T07:06:25Z","value":50},"reeferObdEngineSeconds":{"time":"2020-01-27T07:06:25Z","value":50},"reeferReturnAirTemperatureMilliCZone1":{"time":"2020-01-27T07:06:25Z","value":50},"reeferReturnAirTemperatureMilliCZone2":{"time":"2020-01-27T07:06:25Z","value":50},"reeferReturnAirTemperatureMilliCZone3":{"time":"2020-01-27T07:06:25Z","value":50},"reeferRunMode":{"time":"2020-01-27T07:06:25Z","value":"`Start/Stop`,`Continuous`"},"reeferSetPointTemperatureMilliCZone1":{"time":"2020-01-27T07:06:25Z","value":50},"reeferSetPointTemperatureMilliCZone2":{"time":"2020-01-27T07:06:25Z","value":50},"reeferSetPointTemperatureMilliCZone3":{"time":"2020-01-27T07:06:25Z","value":50},"reeferStateZone1":{"time":"2020-01-27T07:06:25Z","value":"`Off`, `On`"},"reeferStateZone2":{"time":"2020-01-27T07:06:25Z","value":"`Off`, `On`"},"reeferStateZone3":{"time":"2020-01-27T07:06:25Z","value":"`Off`, `On`"},"reeferSupplyAirTemperatureMilliCZone1":{"time":"2020-01-27T07:06:25Z","value":50},"reeferSupplyAirTemperatureMilliCZone2":{"time":"2020-01-27T07:06:25Z","value":50},"reeferSupplyAirTemperatureMilliCZone3":{"time":"2020-01-27T07:06:25Z","value":50}},{"carrierReeferState":{"time":"2020-01-27T07:06:25Z","value":"`Off`, `On`"},"gps":{"headingDegrees":907311751699589783,"latitude":7157233536012898514,"longitude":3202754739297170651,"reverseGeo":{"formattedLocation":"Sunt voluptate ipsum aut repudiandae."},"speedMilesPerHour":6540065271569148419,"time":"2020-01-27T07:06:25Z"},"gpsOdometerMeters":{"time":"2020-01-27T07:06:25Z","value":50},"id":"1234","name":"Trailer-123","reeferAlarms":{"alarms":[{"alarmCode":"Dolores nam est et.","description":"Harum sunt cumque enim adipisci.","operatorAction":"Nulla illo porro et harum.","severity":7193001322588868162},{"alarmCode":"Dolores nam est et.","description":"Harum sunt cumque enim adipisci.","operatorAction":"Nulla illo porro et harum.","severity":7193001322588868162},{"alarmCode":"Dolores nam est et.","description":"Harum sunt cumque enim adipisci.","operatorAction":"Nulla illo porro et harum.","severity":7193001322588868162},{"alarmCode":"Dolores nam est et.","description":"Harum sunt cumque enim adipisci.","operatorAction":"Nulla illo porro et harum.","severity":7193001322588868162}],"time":"2020-01-27T07:06:25Z"},"reeferAmbientAirTemperatureMilliC":{"time":"2020-01-27T07:06:25Z","value":50},"reeferFuelPercent":{"time":"2020-01-27T07:06:25Z","value":50},"reeferObdEngineSeconds":{"time":"2020-01-27T07:06:25Z","value":50},"reeferReturnAirTemperatureMilliCZone1":{"time":"2020-01-27T07:06:25Z","value":50},"reeferReturnAirTemperatureMilliCZone2":{"time":"2020-01-27T07:06:25Z","value":50},"reeferReturnAirTemperatureMilliCZone3":{"time":"2020-01-27T07:06:25Z","value":50},"reeferRunMode":{"time":"2020-01-27T07:06:25Z","value":"`Start/Stop`,`Continuous`"},"reeferSetPointTemperatureMilliCZone1":{"time":"2020-01-27T07:06:25Z","value":50},"reeferSetPointTemperatureMilliCZone2":{"time":"2020-01-27T07:06:25Z","value":50},"reeferSetPointTemperatureMilliCZone3":{"time":"2020-01-27T07:06:25Z","value":50},"reeferStateZone1":{"time":"2020-01-27T07:06:25Z","value":"`Off`, `On`"},"reeferStateZone2":{"time":"2020-01-27T07:06:25Z","value":"`Off`, `On`"},"reeferStateZone3":{"time":"2020-01-27T07:06:25Z","value":"`Off`, `On`"},"reeferSupplyAirTemperatureMilliCZone1":{"time":"2020-01-27T07:06:25Z","value":50},"reeferSupplyAirTemperatureMilliCZone2":{"time":"2020-01-27T07:06:25Z","value":50},"reeferSupplyAirTemperatureMilliCZone3":{"time":"2020-01-27T07:06:25Z","value":50}},{"carrierReeferState":{"time":"2020-01-27T07:06:25Z","value":"`Off`, `On`"},"gps":{"headingDegrees":907311751699589783,"latitude":7157233536012898514,"longitude":3202754739297170651,"reverseGeo":{"formattedLocation":"Sunt voluptate ipsum aut repudiandae."},"speedMilesPerHour":6540065271569148419,"time":"2020-01-27T07:06:25Z"},"gpsOdometerMeters":{"time":"2020-01-27T07:06:25Z","value":50},"id":"1234","name":"Trailer-123","reeferAlarms":{"alarms":[{"alarmCode":"Dolores nam est et.","description":"Harum sunt cumque enim adipisci.","operatorAction":"Nulla illo porro et harum.","severity":7193001322588868162},{"alarmCode":"Dolores nam est et.","description":"Harum sunt cumque enim adipisci.","operatorAction":"Nulla illo porro et harum.","severity":7193001322588868162},{"alarmCode":"Dolores nam est et.","description":"Harum sunt cumque enim adipisci.","operatorAction":"Nulla illo porro et harum.","severity":7193001322588868162},{"alarmCode":"Dolores nam est et.","description":"Harum sunt cumque enim adipisci.","operatorAction":"Nulla illo porro et harum.","severity":7193001322588868162}],"time":"2020-01-27T07:06:25Z"},"reeferAmbientAirTemperatureMilliC":{"time":"2020-01-27T07:06:25Z","value":50},"reeferFuelPercent":{"time":"2020-01-27T07:06:25Z","value":50},"reeferObdEngineSeconds":{"time":"2020-01-27T07:06:25Z","value":50},"reeferReturnAirTemperatureMilliCZone1":{"time":"2020-01-27T07:06:25Z","value":50},"reeferReturnAirTemperatureMilliCZone2":{"time":"2020-01-27T07:06:25Z","value":50},"reeferReturnAirTemperatureMilliCZone3":{"time":"2020-01-27T07:06:25Z","value":50},"reeferRunMode":{"time":"2020-01-27T07:06:25Z","value":"`Start/Stop`,`Continuous`"},"reeferSetPointTemperatureMilliCZone1":{"time":"2020-01-27T07:06:25Z","value":50},"reeferSetPointTemperatureMilliCZone2":{"time":"2020-01-27T07:06:25Z","value":50},"reeferSetPointTemperatureMilliCZone3":{"time":"2020-01-27T07:06:25Z","value":50},"reeferStateZone1":{"time":"2020-01-27T07:06:25Z","value":"`Off`, `On`"},"reeferStateZone2":{"time":"2020-01-27T07:06:25Z","value":"`Off`, `On`"},"reeferStateZone3":{"time":"2020-01-27T07:06:25Z","value":"`Off`, `On`"},"reeferSupplyAirTemperatureMilliCZone1":{"time":"2020-01-27T07:06:25Z","value":50},"reeferSupplyAirTemperatureMilliCZone2":{"time":"2020-01-27T07:06:25Z","value":50},"reeferSupplyAirTemperatureMilliCZone3":{"time":"2020-01-27T07:06:25Z","value":50}}],"pagination":{"endCursor":"MjkY","hasNextPage":true}}}}},"400":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"Invalid value for parameter.","requestId":"8916e1c1"}}}},"401":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"Invalid token.","requestId":"8916e1c1"}}}},"404":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"Object not found.","requestId":"8916e1c1"}}}},"405":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"DELETE not allowed on /endpoint.","requestId":"8916e1c1"}}}},"429":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"Exceeded rate limit.","requestId":"8916e1c1"}}}},"500":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"Failed to execute GraphQL query.","requestId":"8916e1c1"}}}},"501":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"Not implemented.","requestId":"8916e1c1"}}}},"502":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"rpc error: code = Unknown desc = connection refused","requestId":"8916e1c1"}}}},"503":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"context deadline exceeded","requestId":"8916e1c1"}}}},"504":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"},"example":{"message":"context deadline exceeded","requestId":"8916e1c1"}}}}}}},"/beta/fleet/trailers/stats/feed":{"get":{"tags":["Trailers"],"summary":"[beta] Get trailer stats feed","description":"Follow a feed of trailer stats.\n\nThe first call to this endpoint will provide the most recent stats for each trailer and an `endCursor`.\n\nProviding the `endCursor` value to the `after` query parameter will fetch all updates since the previous API call.\n\nIf `hasNextPage` is false, no new data is immediately available. Please wait a minimum of 5 seconds before making a subsequent request.","operationId":"TrailerStats#getTrailerStatsFeed","parameters":[{"name":"types","in":"query","description":"The stat types you want this endpoint to return information on.\n\nYou may list **up to 3** types using comma-separated format. For example: `types=gps,reeferAmbientAirTemperatureMilliC,gpsOdometerMeters`.\n\n* `gps`: GPS data including lat/long, heading, speed, and a reverse geocode address.\n* `gpsOdometerMeters`: Odometer reading provided by GPS calculations. You must provide a manual odometer reading before this value is updated. Manual odometer readings can be provided via the PATCH /fleet/trailers/{id} endpoint or through the [cloud dashboard](https://kb.samsara.com/hc/en-us/articles/115005273667-Editing-Odometer-Reading). Odometer readings wthat are manually set will update as GPS trip data is gathered.\n* `reeferAmbientAirTemperatureMilliC`: The ambient air temperature reading of the reefer in millidegree Celsius.\n* `reeferObdEngineSeconds`: The cumulative number of seconds the reefer has run according to onboard diagnostics. Only supported on reefer solutions.\n* `reeferSupplyAirTemperatureMilliCZone1`: The supply or discharge air temperature zone 1 in millidegrees Celsius. For single zone reefers, this applies to the single zone. Only supported on multizone reefer solutions.\n* `reeferSupplyAirTemperatureMilliCZone2`: The supply or discharge air temperature zone 2 in millidegrees Celsius. Only supported on multizone reefer solutions.\n* `reeferSupplyAirTemperatureMilliCZone3`: The supply or discharge air temperature zone 3 in millidegrees Celsius. Only supported on multizone reefer solutions.\n* `reeferFuelPercent`: The fuel level of the reefer unit in percentage points (e.g. `99`, `50`, etc). Only supported on reefer solutions.\n* `carrierReeferState`: The overall state of the reefer (`Off`, `On`). Only supported on multizone Carrier reefer solutions.\n* `reeferStateZone1`: The state of the reefer in zone 1. For single zone reefers, this applies tot he single zone. Only supported on multizone reefer solutions.\n* `reeferStateZone2`: The state of the reefer in zone 2. Only supported on multizone reefer solutions.\n* `reeferStateZone3`: The state of the reefer in zone 3. Only supported on multizone reefer solutions.\n* `reeferRunMode`: The operational mode of the reefer (`Start/Stop`, `Continuous`)\n* `reeferAlarms`: Any alarms that are present on the reefer. Only supported on reefer solutions.\n* `reeferReturnAirTemperatureMilliCZone1`: The return air temperature in zone 1 of the reefer in millidegrees Celsius. For single zone reefers, this applies to the single zone. Only supported on multizone reefer solutions.\n* `reeferReturnAirTemperatureMilliCZone2`: The return air temperature in zone 2 of the reefer in millidegrees Celsius. Only supported on multizone reefer solutions.\n* `reeferReturnAirTemperatureMilliCZone3`: The return air temperature in zone 3 of the reefer in millidegrees Celsius. Only supported on multizone reefer solutions.\n* `reeferSetPointTemperatureMilliCZone1`: The set point temperature in zone 1 of the reefer in millidegrees Celsius. For single zone reefers, this applies to the single zone. Only supported on multizone reefer solutions.\n* `reeferSetPointTemperatureMilliCZone2`: The set point temperature in zone 2 of the reefer in millidegrees Celsius. Only supported on multizone reefer solutions.\n* `reeferSetPointTemperatureMilliCZone3`: The set point temperature in zone 3 of the reefer in millidegrees Celsius. Only supported on multizone reefer solutions.","allowEmptyValue":true,"required":true,"schema":{"type":"string","description":"The stat types you want this endpoint to return information on.\n\nYou may list **up to 3** types using comma-separated format. For example: `types=gps,reeferAmbientAirTemperatureMilliC,gpsOdometerMeters`.\n\n* `gps`: GPS data including lat/long, heading, speed, and a reverse geocode address.\n* `gpsOdometerMeters`: Odometer reading provided by GPS calculations. You must provide a manual odometer reading before this value is updated. Manual odometer readings can be provided via the PATCH /fleet/trailers/{id} endpoint or through the [cloud dashboard](https://kb.samsara.com/hc/en-us/articles/115005273667-Editing-Odometer-Reading). Odometer readings wthat are manually set will update as
[...]
