n {
    padding: 1em;
    width: 100%;
    display: block;
}

n.info {
    background-color: rgba(0, 51, 160, 0.1);
}

n.warning {
    background-color: #fdf6e3;
}

/* n:before {
    margin-right: 6px;
}

n.info:before {
    content: "\24D8";
}

n.warning:before {
    content: "\2755";
} */

nh {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.1;
    display: block;
}

nb {
    margin-top: 10px;
    padding-left: 22px;
    display: block;
}