note {
    padding: 1em;
    width: 100%;
    display: block;
}

note.info {
    background-color: rgba(0, 51, 160, 0.1);
}

note.info:before {
    content: "\24D8";
}

h {
    display: block;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.1;
}